*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 14px;
    font-family: arial,sans-serif;
}
nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 10px 30px 0 0;
  }
nav a {
	font-size: 13px;
	display: inline-block;
	line-height: 24px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	padding: 5px 6.7px;
}
nav a:hover {
	text-decoration: underline;
}
nav img {
	width: 45px;
	padding: 5px;
	margin: auto 7px;
	cursor: pointer;
}
nav img:hover {
	background-color: rgba(58, 66, 73, 0.08);
    border-radius: 50%;
}
.button{
	font-family: Roboto;
	font-size: 14px;
	border: 10px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	color: #fff;
	padding: 0 17px;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover{
	background: #1B66C9;
	border: 10px solid #1B66C9;
	box-shadow: 1.5px 2.5px 1.5px 0px rgba(126, 120, 120, 0.19);
}


.section1 {
	flex: 1;
}
.logo {
	display: block;
	margin: 0px auto;
	margin-top: 8px;
}
.search {
	display: flex;
	width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: 22px;
	text-align: center;
}
.search-input {
	display: block;
	border: 1px solid #ddd;
	color: rgba(0,0,0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
}
.search-input:hover {
	border: 1px solid #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.search-icon {
	width: 15px;
	opacity: .4;
	position: absolute;
	top: 16px;
	left: 19px;
}
.search-voice {
	width: 14px;
	position: absolute;
	top: 13px;
	right: 60px;
}
.search-image {
	width: 20px;
	position: absolute;
	top: 13px;
	right: 20px;
}
.buttons{
	text-align: center;
	margin: 0px auto;
	margin-top: 20px;
}
.buttons button{
	background-color: #f8f9fa;
    border: 0px;
    border-radius: 4px;
	font-size: 14px;
    color: #3c4043;
    margin: 10px 4px;
    padding: 10px 17px;
    text-align: center;
    cursor: pointer;
}
.buttons button:hover {
	border: 1px #aaa;
	box-shadow: 1px 1px 1px 1px rgba(126, 120, 120, 0.19);
}
.language {
	margin-top: 18px;
	text-align: center;
	font-size: 13px;
	color: #4d5156;
}
.language a {
	margin-left: 5px;
	color: #1a0dab;
}
.language a:hover {
	text-decoration: underline;
}
footer {
	background: #f2f2f2;
}
footer h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 50px;
	font-weight: 1;
	padding-left: 29px;
}
footer a {
	color: #5f6368;
	display: inline-block;
	padding: 14px 12px;
	font-size: 14px;
}
footer a:hover {
	text-decoration: underline;
}
.links {
	border-top: 1px solid #ddd;
	display: flex;
}
.links-left {
	padding-left: 22px;
	flex: 1;
}
.links-right {
	padding-right: 22px;
}