* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.4167em;
    font-family: AT_bold, sans-serif !important;
}

body {
    background-color: #fff;
}
.active {
    color: #409eff;
    border-bottom-color: #fff !important
}
.content-top {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}


.content-top-left-top {
    position: relative;
    display: block;
    border: 1px solid #ebeef5;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.background-image {
    width: 398.388px;
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
    
}
.background-image:hover{
    transform: scale(1.1);
}

.avt-image {
    position: absolute;
    width: 190.4px;
    height: 190.4px;
    border-radius: 50%;
    top: 110px;
    left: 20px;
    margin: auto;
    border: 5px solid #fff;
    object-fit: cover;
}

.content-top-left_user-inf {
    padding: 20px;
    width: 398.388px;
    height: 260px;

}

.content-top-left_user-inf p {
    font-size: 15px;
    line-height: 2;
    color: #303133;
    font-family: Helvetica, Arial, sans-serif;
    height: 30px;
}

.content-top-left_user-inf-name {
    margin-top: 64px;
}

.content-top-left-bottom {
    border: 1px solid #ebeef5;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 20px;
    padding-left: 30px;
    width: 398.388px;
    height: 244.55px;
}
.content-top-left-title {
    font-size: 15px;
    line-height: 2;
    color: #303133;
    font-family: Helvetica, Arial, sans-serif;
    height: 40px;
    border-bottom: 1px solid #e4e7ed;
    display: flex;
    cursor: pointer;

}

.content-top-left-title * {
    padding: 0 20px;
    border: 1px solid #e4e7ed;
    display: inline-block;
    line-height: 40px;
    font-size: 14px;

}
.content-top-left-title p:hover{
    color: #409eff;

}

.content-top-left_user-score {
    margin: 15px 0px;
    padding-left: 5px;
    margin-top: 30px;
}

.content-top-right {
    border: 1px solid #ebeef5;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 20px;
    height: 767.825px;
    width: 788.4px;
}

.content-top-right-title {
    font-size: 15px;
    line-height: 2;
    color: #303133;
    font-family: Helvetica, Arial, sans-serif;
    height: 40px;
    width: 748.4px;
    /* border-bottom: 1px solid #e4e7ed; */
    display: flex;
    cursor: pointer;
}
.content-top-right-title .blank{
    cursor: default;
}

.content-top-right-title * {
    padding: 0 20px;
    border: 1px solid #e4e7ed;
    display: inline-block;
    /* width: 102.525px; */
    line-height: 40px;
    font-size: 14px;
}
.content-top-right-title p:hover{
    color: #409eff;
}
.blank {
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    padding-right: 60px;
}

.content-top-right__personal-infos h1 {
    margin-top: 30px !important;
    border-bottom: 2px solid #ddd;
    width: 154.988px;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px !important;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content-top-right__personal-infos table {
    padding-left: 10px;
}

table tr {
    height: 25px;
}

td {
    width: 240px;
}

.content-top-right__personal-infos p {
    padding-left: 10px;
    margin: 5px 0px;

}

h1 {
    border-bottom: 2px solid #ddd;
    width: 160px;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px !important;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} 
h2{
    margin: 5px 0px;

}
.content-top-right__family-infos-dad {
    padding-left: 10px;
}
.content-top-right__family-infos-mom{
    padding-left: 10px;
}

.content-top-right__family-infos-mom p{
    margin: 5px 0px;
}
.content-top-right__family-infos-others{
    padding: 10px;
}
.content-top-right__family-infos-others h2{
    margin-bottom: 20px;
}
.content-top-right__family-infos-others p{
    display: inline;
    font-weight: bold;

}

.content-bottom-title {
    display: flex;
    justify-content: center;
    margin-top: 6px ;
    height: 25px;
}
.content-bottom-title h1{
    border-bottom: none;
}
.graph-hoctap{
    margin-right: 430px;
}
.graph-renluyen{
    margin-right: 425px;
}
.content-bottom-image{
    display: flex;
    justify-content: center;
}
.chart {
    height: 400px;
}